<h1>Listing articles</h1> 
<table>
  <tr>
    <th>Time created</th>
    <th>Title</th>
    <th>Text</th>
  </tr>
 <% @articles.each do |article| %>
  <tr>
    <td><%= article.created_at %></td>
    <td><%= article.title %></td>
    <td><%= article.text %></td>
    <td><%= link_to 'Show', article_path(article) %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article_path(article),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= 'Comments: ' + article.comments.count.to_s %></td>
  </tr>
 <% end %>
  
</table>


<%= link_to 'New article', new_article_path %>
<p><%= link_to 'Home', controller: 'welcome' %></p>